<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon>pets</mat-icon>
    <span>Cafe Event CheckList</span>
    <mat-icon> local_cafe</mat-icon>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Please free feel to add and remind others. :D</span>
    <span class="example-spacer"></span>
    <div class="example-button-container">
      <button mat-mini-fab color="decent" aria-label="Example icon button with a plus one icon">
        <mat-icon>plus_one</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
